/* This is where styles are defined for your page. */
/* One style is provided as example. */


body {
  background-image: url('images/sand.jpg');
  font-family: serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}
header {
  width: 50%;
}
header.page-header {
  background: darkkhaki;
  padding: 1rem;
  border-radius: 12px;
  width: 50%;
}
.page-header h1 {
  margin-bottom: 0;
}
.page-header p {
  margin-top: 3;
}
.page-header small {
  font-size: medium;
}
aside.more-info h2 {
  font-size: large;
}
aside.more-info img {
  width: 150px;
  height: auto;
}
aside.more-info li {
  display: inline;
  padding: 1rem;
}
section#content {
  background: lightgray;
  border-radius: 12px;
}
.poem {
  list-style-type: none;
}
.poem li {
  font-size: large;
  line-height: 1.8;
}
footer.page-footer li {
  list-style-type: none;
  display: inline;
  padding: 1rem
}
